---
layout: compress
published: true
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.2&appId=245285002737498&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <main class="wrapper">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </main>
    {% include foot.html %}
      <script id="dsq-count-scr" src="//https-dalcyyuni-github-io-blog-1.disqus.com/count.js" async></script>
  </body>
</html>
